* {
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
main{
    position: relative;
    background-color: blue;
    height: 80vh;
    width: 25vw;
    margin: 5vh;
    border-radius: 20px;
}
#screen{
    margin: 2vh;
    padding: 5vh;
    background-color: aliceblue;
    border-radius: 8px;
}
/* Teclado */
#keyboard{
    position: absolute;
    left: 2.3vh;
    height: 10vh;
    width: 20vw;
}
.key{
    padding: 4vh;
    margin: 0.5vh;
    width: 5vw;
    border-radius: 8px;
    border: none;
    margin-bottom: 2vh;
}
#result{
    width: 10.8vw;
}
/* Operadores */
#arithmetic-operators{
    position: absolute;
    right: 2.5vh;
    display: flex;
    flex-direction: column;
    width: 10vh;
    height: 20vh;
    margin-top: 0.4vh;
}
.operator{
    margin-bottom: 2.5vh;
    padding: 4vh;
    border-radius: 8px;
    border: none;
}